h1{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    /*font-style: italic;*/
}

img{
    height: 500px;
    width: 800px;
}

body{
    background-color: antiquewhite;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    /*justify-items: center;*/
}

span{
    background-color: aqua;
    height: 60px;
    width: 450px;
}

span p{
    color: brown;
    font-size: 24px;
    padding-left: 10px;

}

#pSpan{
    padding-right: 50px;
}

.div-azul{
    height: 320px;
    width: 280px;
    background-color: blue;
}

.div-vermelha{
    height: 320px;
    width: 280px;
    background-color: red;
}

.div-amarela{
    height: 320px;
    width: 280px;
    background-color: yellow;
}

#divPrincipal{
    height: 1200px;
    width: 800px;
    background-color: black;
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 60px;
}

#divImagem{
    height: 200px;
    width: 200px;
    background-image: url(unect.png);
}

#divH1{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}



